@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.hero.visible {
  opacity: 1;
  transform: translateX(0);
}

@layer components {
  .hero {
    @apply md:w-3/4 md:ml-8 md:mt-16 mt-24 pt-12 pb-24;
  }

  .hero-hello {
    @apply text-DPurple my-4 text-lg;
  }

  .hero-name {
    @apply md:text-7xl text-5xl font-bold text-dPurple leading-tight;
  }

  .hero-subtitle {
    @apply md:text-7xl text-3xl font-bold text-mPurple leading-tight;
  }

  .hero-description {
    @apply text-DGray md:text-lg text-base my-6 leading-8;
  }
}