.sidebar_email {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .right_sidebar {
    @apply fixed bottom-[280px] -right-14 h-16 w-32;
  }

  .right_sidebar > a {
    @apply flex items-center after:content-[''] after:w-px after:bg-dGray after:h-24 after:mt-6
  }

  .sidebar_email {
    @apply tracking-widest text-dGray pe-6 hover:text-dPurple hover:-translate-y-1 transition ease-in-out;
  }
}
